<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- scripts -->
    <script async src="../static/script.js"></script>
    <script async src="../static/ls-modal.js"></script>
    
    <!-- styles -->
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="../static/ls-modal.css" />
    
    <!-- external -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <title>Form</title>
  </head>
  <body>
    <div class="back-wrapper">
      <a href="./chart.html" style="font-size: 0.75rem;">check stats</a>
      <button class="color-change">🌞</button>
    </div>
    <div class="container">
      <div class="tags">
        <div class="tags__each hidden"></div>
        <div class="tags__each hidden"></div>
        <div class="tags__each hidden"></div>
        <div class="tags__each hidden"></div>
        <div class="tags__each hidden"></div>
        <div class="tags__each hidden"></div>
      </div>

      <div class="headers">
        <div class="headers__each hidden">Option One</div>
        <div class="headers__each hidden">Option Two</div>
        <div class="headers__each hidden">Option Three</div>
        <div class="headers__each hidden">Option Four</div>
        <div class="headers__each hidden">Option Five</div>
        <div class="headers__each hidden">Option Six</div>
      </div>

      <div class="options__wrapper">
        <div class="options__each hidden who">
          <div class="who__option">XXX</div>
          <div class="who__option">XXX</div>
        </div>
        <div class="options__each hidden language">
          <div class="language__option">XXX</div>
          <div class="language__option">XXX</div>
        </div>
        <div class="options__each hidden system">
          <div class="system__option">Win 10</div>
          <div class="system__option">Win 11</div>
          <div class="system__option">Win 8/8.1</div>
          <div class="system__option">N/A</div>
          <div class="system__option">Win 7</div>
          <div class="system__option">Win XP</div>
          <div class="system__option">MacOS</div>
          <div class="system__option">Linux</div>
          <div class="system__option">Win ANY</div>
        </div>
        <div class="options__each hidden duration">
          <div class="duration__option">XXX</div>
          <div class="duration__option">XXX</div>
          <div class="duration__option">XXX</div>
          <div class="duration__option">XXX</div>
        </div>
        <!-- I've hidden available options -->
        <div class="options__each hidden description">
          <div class="description__option">XXXXX XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX</div>
          <div class="description__option">XXXXX XXXXX XXXXX XXXXX</div>
          <input
            type="text"
            class="text-input"
            placeholder="dodaj swój opis zgłoszenia"
          ></input>
        </div>
        <div class="options__each hidden is-resolved">
          <div class="is-resolved__option">XXX</div>
          <div class="is-resolved__option">XXX</div>
          <div class="is-resolved__option">XXX</div>
        </div>
      </div>
    </div>
    
    <div class="bottom-section__wrapper">
      <button class="back-btn hidden">&lt;Back</button>
    </div>
    
    

  </body>
</html>
